<header>
    <nav class="navbar navbar-dark bg-spa">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn btn-sm btn-spa" type="button" (click)="menuIsCollapsed = !menuIsCollapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" [ngbCollapse]="menuIsCollapsed">
                    <div class="row">
                        <div class="col-sm mx-auto mt-2" *ngFor="let menuEntry of userMenuEntries">
                            <button class="btn btn-spa btn-sm" routerLink="/{{menuEntry.routeUrl}}">
                                <img src="{{menuEntry.iconPath}}" height="24px"> {{menuEntry.menuName}}
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>