<footer class="bg-spa">
  <div class="row pl-4">
      <div class="col-4 footer-section">
        <div class="d-table">
          <div class="d-table-row">
            <div class="d-table-cell py-1">
              <small class="no-wrap">
                <img src="{{iconPath}}/favicon.ico"> An Angular Single Page Application
              </small>
              <small class="no-wrap">
                  Angular version 5.2
              </small>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>
