<app-container>
    <app-spa-bg header="Account overview" icon="eye.png">
        <div class="row mb-3">
            <div class="col">
                <app-table-card header="Personalia" collapsible=true icon="user-info.png">
                    <tbody id="person-details">
                        <tr>
                            <td *ngFor="let userLabel of userLabels">
                                {{userLabel}}
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let userValue of userValues">
                                <div *ngIf="userValue">{{userValue}}</div>
                                <div *ngIf="!userValue" class="font-italic">Not provided</div>
                            </td>
                        </tr>
                    </tbody>
                </app-table-card>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <app-table-card header="User permissions" collapsible=true icon="pax.png">
                    <tbody id="permissions-details">
                        <tr>
                            <td *ngFor="let roleLabel of roleLabels">
                                {{roleLabel}}
                            </td>
                        </tr>
                        <tr>
                            <td *ngFor="let roleValue of roleValues">
                                <div *ngIf="roleValue">{{roleValue}}</div>
                                <div *ngIf="!roleValue" class="font-italic">Not assigned</div>
                            </td>
                        </tr>
                    </tbody>
                </app-table-card>
            </div>
        </div>
    </app-spa-bg>
</app-container>
