<div class="main-nav">
    <div class="navbar navbar-inverse navbar-dark bg-spa">
        <div class='navbar-header'>
            <button type="button" class="btn btn-sm btn-spa navbar-toggle" type="button" (click)="menuIsCollapsed = !menuIsCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="btn btn-sm btn-spa" routerLink="/">
                <img src="{{iconPath}}/white/home.png" height="16px">
            </button>
        </div>
        <div class='clearfix'></div>
        <div class="navbar-collapse collapse" [ngbCollapse]="menuIsCollapsed">
            <ul class='nav navbar-nav'>
                <li *ngFor="let menuEntry of userMenuEntries" [routerLinkActive]="['link-active']">
                    <div class="mt-2">
                        <a routerLink="/{{menuEntry.routeUrl}}">
                            <button class="btn btn-spa-light btn-sm">
                                <img src="{{menuEntry.iconPath}}" height="24px"> {{menuEntry.menuName}}
                            </button>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>