/* Color palette */
:root {
    --color-primary: #000;
    --color-primary-light: #4e4f52;
    --color-primary-dark: #000128;
    --color-primary-text: #ffffff;
}

div .bg-spa {
    background-color: var(--color-primary);
}

.bg-spa {
    background-color: var(--color-primary);
}

div .bg-spa-light {
    background-color: var(--color-primary-light);
}
.btn-spa { 
    color: var(--color-primary-text);
    background-color: #4e9154;
    border-color: var(--color-primary-light);
} 
/* -------------------------------------------- */

/* Behaviour */
.clickable {
    cursor: pointer;
}
.non-clickable {
    pointer-events: none;
}

.no-wrap {
    white-space: nowrap;
}
/* -------------------------------------------- */